<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet/scss"  type="text/scss" href="sidenav.component.scss">
</head>
<body>
    <style>
    </style>
    <div class="sidenav"><br>
        <img src="assets\logo.png" height="100" class="center"/><br>
        <a href="/manage/dashboard">Dashboard User Management</a>
        <a href="/manage/teachers">Teachers</a>
        <a href="/manage/students">Students</a>
        <a style="margin-top:500px;" href="#">Settings</a>
        <a href="/registration">Register</a>
        <a href="/login">Logout</a>
    </div>
    
</body>
</html>